.styled-row {
    cursor: pointer;
}
.styled-row:nth-child(even):hover{
    background-color: rgb(60, 60, 60);
}
.styled-row:nth-child(odd):hover{
    background-color: rgb(77, 77, 77);
}

.selected-row {
    cursor: pointer;
    background-color: rgb(225, 225, 225) !important;
}
.selected-row th {
    color: rgb(39, 39, 39);
}